* {box-sizing: border-box;}

html {
  font-size: 1em;
  margin: 0;
}

body {
  background-color: #F1F1F1;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-size: 0.7em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

h6 {font-size: 0.9em;}

small, .font_small {font-size: 0.75em;}

button {
  background-color: transparent;
  outline: none;
}

button:not(.button__search) {
  border-radius: 3px;
}

button:hover:not(.button__transparent) {
  background: #F0F0F0;
  color: #565656;
}

.header-logo,
.logo-mobile,
.footer-logo {
  border: 0;
}

header,
.wrapper,
footer  {
  background-color: #FFFFFF;
}

ul {
  list-style-type: none;
}

label {
  display: flex;
}

.borders__top-bottom {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.spacer__top {
  margin-top: 0.75rem;
}

/*HEADER ONLY */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav__top-1 {
  width: 100%;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.nav__top-1 > span {
  display: flex;
}

.nav__top-1-left {
  align-items: center;
  margin-left: 1.8rem;
}

  .icon__nav {
    border: 0;
    color: #B8B8B8;
  }

  .nav__top-1-left:hover .icon__nav {
    color: #888;
  }

.nav__top-1-center {
  justify-content: center;
  align-items: center;
  margin: 0 5.15rem;
}

  .input__search {
    width: 582px;
    line-height: 1.4;
    font-size: 16px;
    padding-left: 0.4rem;
  }

  .input__search:focus {
    outline: 1px solid #265CBC;
  }

  .button__search {
    background: #F8F8F8;
    height: 28px;
    width: 4.2rem;
    border: 1px solid #C3C3C4;
    margin-left: -0.05rem;
    display: inline-flex;
    justify-content: center;
  }

  .fa-search {
    color: #969696;
    font-size: 0.9rem;
  }

  .button__search:hover .fa {
    color: #5D5C5D;
  }

.nav__top-1-right {
  position: absolute;
  right: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}

  .button__upload {
    padding: 0.3rem 0.6rem;
    margin: 0 1rem;
    background: #F8F8F8;
    font-size: 11px;
    border: 1px solid #D3D3D3;
  }

  .user-img {
    height: 2rem;
    width: 3rem;
  }

/* LEFT EXPANDED NAV - Triggered in nav__top-1-left */

.sidebar {
  display: none;
  position: fixed;
  top: 3.3rem;
  left: 0;
  background-color: #FFFFFF;
  border-right: 1px solid #E8E8E8;
  font-size: 13px;
  width: 227px;
  height: 100%;
  overflow: scroll;
}

.sidebar__ul {
  width: 80%;
  margin: 0.85rem auto 0;
  padding-left: 0;
}

  .icon__sidebar-main {
    display: flex;
    justify-content: center;
    margin: 0 0.75rem;
    font-size: 1rem;
    width: 1rem;
  }

  .inactive__fill {
    color: #888;
  }

  .sidebar__subheading {
    display: flex;
    color: #CE1312;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 0.3rem;
    margin-top: -0.5rem;
  }

    .sidebar__subheading:hover {text-decoration: underline;}

  .sidebar__tab-link {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  .icon__sidebar-sub{
    height: 1.1rem;
    width: 1.2rem;
    margin: 0 0.7rem;
  }

.sidebar__tab,
.sidebar__subheading,
.sidebar__section {
  line-height: 1.8rem;
  align-items: center;
}

.sidebar__tab {
  display: flex;
}

  .sidebar__tab-link:hover,
  .sidebar__tab-link:hover .icon__sidebar-main {
    background-color: #444;
    color: #FFF;
  }

#active__fill {
  background-color: #D01D19;
  color: #FFF;
}

.section__borders-allsides {
  padding: 0.25rem 0.25rem 0.1rem 0.25rem;
  border: 1px solid #E8E8E8;
}

  .section__borders-allsides:hover {
    opacity: 0;
  }

  .sidebar__section:hover {
    background: transparent url('../images/subscriptions_hover.png') no-repeat center;
    background-size: contain;
    height: 153px;
    border: 1px solid #E8E8E8;
  }

  .button__sidebar {
    line-height: 1.7rem;
    width: 169px;
    padding: 0.05rem;
    background-color: #70AEDF;
    color: #FFF;
    font-size: 11px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    margin: 0.1rem 0.1rem 0.2rem 0.1rem;
  }

  .sidebar__section-li {
    color: #7C7C7C;
    display: flex;
    align-items: center;
  }

/*HEADER SECOND ROW */

.nav__top-2 {
  display: flex;
	align-items: center;
	justify-content: space-around;
  height: 2.65rem;
  border-bottom: 1px solid #E8E8E8;
  margin: 0 auto;
}

  .nav__top-2-all-tabs {
    display: flex;
    height: 2rem;
    align-items: center;
    padding-left: 0;
    color: #696969;
  }

    .nav__top-2-tab {
      border-bottom: 3px solid transparent;
      padding: 0.7rem 0;
      margin: 0 1rem;
      font-size: 13px;
    }

    .nav__top-2-tab:hover,
    .active__underline {
      border-bottom: 3px solid #CE1312;
    }

    .active__underline {
      font-weight: 500;
      color: #393939;
    }


/*MAIN CONTENT*/

.wrapper {
  width: 438px;
  max-width: 1262px;
  min-width: 438px;
  margin: 7rem auto 3rem;
  border: 1px solid #E8E8E8;
  padding: 0 14px;
}

.grid__row-top {
  display: flex;
  align-items: center;
  padding: 0.6rem 0 0.2rem;
  margin: 0 auto;
}

.grid__row-heading {
  display: flex;
  margin: 0.5rem auto 0.5rem 0.25rem;
}

  .button__delete {
    border: 0;
  }

  .icon__delete {
    display: flex;
    justify-content: flex-end;
  }

  .grid__row {
    overflow: hidden;
  }

  .grid__row:not(.first-child):not(:last-child) {
    border-bottom: 1px solid #E8E8E8;
  }

  .preview(:first-child) {
    padding-left: 1rem;
  }

.preview {
  max-width: 210px;
  font-size: 12px;
  padding: 0 0.25rem 1rem 0.25rem;
  position: relative;
  margin: 0 auto;
  float: left;
}

  .preview__img {
    max-height: 110px;
    width: 196px;
    position: relative;
  }

  .preview__time {
    width: 2rem;
    position: absolute;
    bottom: 4.75rem;
    right: 0.35rem;
    color: #FFF;
    background: rgba(0,0,0,0.8);
    padding: 0 0.2rem;
    text-align: center;
  }

  .preview__heading {
    color: #0678C9;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .preview__author a:hover {
    color: #0678C9;
  }

/*FOOTER ONLY*/

footer {
  margin-top: 3rem;
  border-top: 1px solid #E8E8E8;
  width: 100%;
  position: absolute;
}

.nav__bottom-1,
.nav__bottom-2 ul,
.nav__bottom-3 ul {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.nav__bottom-1 {
  padding: 0.25rem 0;
  width: 95%;
  margin-left: 2.2rem;
}

  .button__nav-bottom,
  .button__save {
    background-color: #F8F8F8;
    font-size: 12px;
    border: 1px solid #D3D3D3;
    height: 28px;
    margin: 0.5rem;
    padding: 0 0.5rem;
    display: inline-flex;
    align-items: center;
  }

  .fa-caret-down {
    padding: 0 0.1rem 0 0.5rem;
  }

.nav__bottom-2,
.nav__bottom-3{
  font-weight: 500;
}

  .nav__bottom-2 ul li {
    font-size: 13px;
    padding: 1rem 0.5rem 0.5rem;
    margin-bottom: -1rem;
  }

  .nav__bottom-3 ul li {
    color: #6C6C6C;
    font-size: 11.5px;
    padding: 0 0.5rem 1.5rem;
  }

.border__top {
  border-top: 1px solid #E8E8E8;
  width: 95%;
  margin: 0 auto;
  padding-left: -0.5rem;
}

.copyright {
  font-weight: 400;
}

.active__darken {
  background: #E9E9E9;
}

/*EXPANDED BOTTOM NAV*/

.language__expand,
.country__expand,
.restricted__expand {
  display: none;
  width: 100%;
  margin: 1.2rem 0 0.15rem 3rem;
}

.footer__sub-heading {
  font-size: 0.9em;
  margin-bottom: -0.7rem;
}

  .icon__language {
    height: 1.3rem;
    width: 1.9rem;
    padding-right: 0.1rem;
  }

  .icon__nav-bottom {
    padding: 0 0.5rem 0 0.25rem;
    font-size: 0.9rem;
    color: #808080;
  }

  .form__restricted {
    font-size: 12px;
    font-weight: 500;
    padding-top: 0.5rem;
    width: 95%;
  }

  .restricted__expand p {
    margin: 0;
  }

  .form__restricted input {
    margin: 0.3rem 0.5rem 0;
  }

  .button__save {
    margin: 0 0 4rem 0;
  }


/*MEDIA QUERIES*/

/*smallest - 2 previews in row*/
@media screen and (max-width: 705px) {
  .preview:nth-child(5),
  .preview:nth-child(4),
  .preview:nth-child(3),
  .preview:nth-child(2) {
    display: none;
  }

  .nav__top-1 {
    justify-content: center;
  }

    .button__search {
      width: 2.5rem;
    }

    .button__upload,
    .header-logo {
      display: none;
    }

    .logo-mobile {
      display: flex;
    }

  .nav__top-1-right {
    position: inherit;
    /*right: auto;
    align-items: center;*/
    margin-top: 0;
  }

  .footer {
    overflow: scroll;
  }

  .nav__bottom-1,
  .nav__bottom-2,
  .nav__bottom-3 {
    margin-left: 0;
  }

}

/*small - 3 previews in row*/
@media screen and (min-width: 705px) {
  .wrapper {
    width: 644px;
  }

  .logo-mobile {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .preview:nth-child(5),
  .preview:nth-child(4),
  .preview:nth-child(3) {
    display: none;
  }
}

/*medium - 4 previews in row*/
@media screen and (min-width: 910px) {
  .wrapper {
    width: 850px;
  }
}

@media screen and (max-width: 1120px) {
  .preview:nth-child(5),
  .preview:nth-child(4) {
    display: none;
  }

  .input__search {
    width: 100%;
    max-width: 4.2rem;
    min-width: 242px;
  }
}

/*large - 5 previews in row*/
@media screen and (min-width: 1120px) {
  .wrapper {
    width: 1056px;
  }
}

@media screen and (max-width: 1330px) {
  .preview:nth-child(5) {
    display: none;
  }
}

/*large - 6 previews in row*/
@media screen and (min-width: 1330px) {
  .wrapper {
    width: 1262px;
  }
}

/*EXTRAS*/

.clearfix:after {
   clear: both;
   content: "";
   display: table;
}
