// VARIABLES

$border-light: 1px solid #E8E8E8;
$color-light: #FFF;
$color-accent: #0678C9;
$color-hover-icon: #5D5C5D;
$color-button: #F8F8F8;

// BASE STYLES

* {box-sizing: border-box;}

html {
  font-size: 1em;
  margin: 0;
}

body {
  background-color: #F1F1F1;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-size: 0.7em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

h6 {font-size: 0.9em;}

small, .font_small {font-size: 0.75em;}

button {
  background: transparent;
  outline: none;

  &:hover:not(.button__transparent) {
    background: #F0F0F0;
    color: #565656;
  }
}

button:not(.button__search) {
  border-radius: 3px;
}

.logo-header,
.logo-mobile,
.footer-logo {
  border: 0;
}

header,
.wrapper,
footer  {
  background: $color-light;
}

ul {
  list-style-type: none;
}

label {
  display: flex;
}

.borders__top-bottom {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-top: $border-light;
  border-bottom: $border-light;
}

// HEADER ONLY

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navigation__main {
  width: 100%;
  display: inline-flex;
  align-items: center;
  border-bottom: $border-light;

  span {
    display: flex;
  }

  .navigation__main-site {
    align-items: center;
    margin-left: 1.8rem;

    &:hover .icon__nav {
      color: $color-hover-icon;
    }

    .icon__nav {
      border: 0;
      color: #B8B8B8;
    }
  }

  .navigation__main-search {
    justify-content: center;
    align-items: center;
    margin: 0 5.15rem;

    .input__search {
      width: 582px;
      line-height: 1.4;
      font-size: 16px;
      padding-left: 0.4rem;

      &:focus {
        outline: 1px solid #265CBC;
      }
    }

    .button__search {
      background: $color-button;
      height: 28px;
      width: 4.2rem;
      border: 1px solid #C3C3C4;
      margin-left: -0.05rem;
      display: inline-flex;
      justify-content: center;

      .fa-search {
        color: #969696;
        font-size: 0.9rem;
      }

      &:hover .fa {
        color: $color-hover-icon;
      }
    }
  }

  .navigation__main-user {
    position: absolute;
    right: 1rem;
    align-items: center;
    margin-top: 0.5rem;

    .button__upload {
      padding: 0.3rem 0.6rem;
      margin: 0 1rem;
      background: $color-button;
      font-size: 11px;
      border: 1px solid #D3D3D3;
    }

    .img-user {
      height: 2rem;
      width: 3rem;
    }
  }
}

// SIDEBAR NAV - Triggered in navigation__main-site

.sidebar {
  display: none;
  position: fixed;
  top: 3.3rem;
  left: 0;
  background-color: $color-light;
  border-right: $border-light;
  font-size: 13px;
  width: 227px;
  height: 100%;
  overflow: scroll;

  .sidebar__ul {
    width: 80%;
    margin: 0.7rem auto 0;
    padding-left: 0;

    .sidebar__subheading {
      display: flex;
      color: #CE1312;
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      padding-left: 0.3rem;
      margin-top: -0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }

    .sidebar__tab,
    .sidebar__subheading,
    .sidebar__section {
      line-height: 1.8rem;
      align-items: center;
    }

    .sidebar__tab {
      display: flex;

      .sidebar__tab-link {
        display: inline-flex;
        align-items: center;
        width: 100%;

        &:hover,
        &:hover .icon__sidebar-main {
          background-color: #444;
          color: $color-light;
        }

        .icon__sidebar-main {
          display: flex;
          justify-content: center;
          margin: 0 0.75rem;
          font-size: 1rem;
          width: 1rem;
          color: #888;
        }
      }

      .active__fill {
        background-color: #D01D19;
        color: $color-light;

        .icon__sidebar-main {
          color: $color-light;
        }
      }
    }
  }

  .section__borders-allsides {
    padding: 0.25rem 0.25rem 0.1rem 0.25rem;
    border: $border-light;

    &:hover {
      opacity: 0;
    }
  }

  .sidebar__section {
    &:hover {
      background: transparent url('../images/subscriptions_hover.png') no-repeat center;
      background-size: contain;
      height: 152px;
      border: $border-light;
    }

    .button__sidebar {
      line-height: 1.7rem;
      width: 169px;
      padding: 0.05rem;
      background-color: #70AEDF;
      color: $color-light;
      font-size: 11px;
      text-align: center;
      border: 0;
      border-radius: 3px;
      margin: 0.1rem 0.1rem 0.2rem 0.1rem;
    }

    .sidebar__section-li {
      color: #7C7C7C;
      display: flex;
      align-items: center;

      .icon__sidebar-sub{
        height: 1.1rem;
        width: 1.2rem;
        margin: 0 0.7rem;
      }
    }
  }
}

// HEADER SECOND ROW

.header__tabs {
  display: flex;
	align-items: center;
	justify-content: space-around;
  height: 2.65rem;
  border-bottom: $border-light;
  margin: 0 auto;

  .header__tabs-ul {
    display: flex;
    height: 2rem;
    align-items: center;
    padding-left: 0;
    color: #696969;

    .header__tab {
      border-bottom: 3px solid transparent;
      padding: 0.7rem 0;
      margin: 0 1rem;
      font-size: 13px;

      &:hover {
        border-bottom: 3px solid #CE1312;
      }
    }

    .active__underline {
      border-bottom: 3px solid #CE1312;
      font-weight: 500;
      color: #393939;
    }
  }
}

// MAIN CONTENT

.wrapper {
  width: 438px;
  max-width: 1255px;
  min-width: 438px;
  margin: 7rem auto 3rem;
  border: $border-light;
  padding: 0 14px;

  .grid__row-header {
    display: flex;
    align-items: center;
    padding: 0.6rem 0 0.2rem;
    margin: 0 auto;

    .grid__row-heading {
      display: flex;
      margin: 0.5rem auto 0.5rem 0.25rem;
    }

    .button__delete {
      border: 0;

      .icon__delete {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .grid__row {
    overflow: hidden;

    &:not(:first-child),
    &:not(:last-child) {
      border-bottom: $border-light;
    }

    .preview {
      max-width: 210px;
      font-size: 12px;
      padding: 0 0.25rem 1rem 0.25rem;
      position: relative;
      margin: 0 auto;
      float: left;

      .preview__img {
        max-height: 110px;
        width: 196px;
        position: relative;
      }

      .preview__time {
        width: 2rem;
        position: absolute;
        bottom: 4.75rem;
        right: 0.35rem;
        color: $color-light;
        background: rgba(0,0,0,0.8);
        padding: 0 0.2rem;
        text-align: center;
      }

      .preview__heading {
        color: $color-accent;
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .preview__author a:hover {
        color: $color-accent;
      }

      @media screen and (max-width: 705px) {
        .preview:nth-child(5),
        .preview:nth-child(4),
        .preview:nth-child(3),
        .preview:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

// FOOTER ONLY

footer {
  margin-top: 3rem;
  border-top: $border-light;
  min-width: 943px;
  width: 100%;
  position: absolute;
  overflow-x: scroll;

  .footer__preferences,
  .footer__ul-medium,
  .footer__ul-small {
    display: inline-flex;
    align-items: center;
    margin: 0;
  }

  .footer__preferences {
    padding: 0.25rem 0;
    width: 95%;
    margin-left: 2.2rem;
  }

    .button__footer,
    .button__save {
      background-color: $color-button;
      font-size: 12px;
      border: 1px solid #D3D3D3;
      height: 28px;
      padding: 0 0.5rem;
      display: inline-flex;
      align-items: center;
    }

    .button__footer {
      margin: 0.5rem;
    }

    .fa-caret-down {
      padding: 0 0.1rem 0 0.5rem;
    }

  .footer__ul-medium,
  .footer__ul-small {
    font-weight: 500;
    margin: 0 3rem;
    padding: 0;
  }

  .footer__ul-medium {
    border-top: $border-light;
    width: 100%;

    li {
      font-size: 13px;
      padding: 1rem 0.5rem 0.5rem;
      margin-bottom: -1rem;
    }
  }

  .footer__ul-small li {
    color: #6C6C6C;
    font-size: 11.5px;
    padding: 0 0.5rem 1.5rem;

    .copyright {
      font-weight: 400;
    }
  }

  .active__darken {
    background: #E9E9E9;
  }
}

// EXPANDED BOTTOM NAV

.language__expand,
.country__expand,
.restricted__expand {
  display: none;
  width: 100%;
  margin: 1.2rem 0 0.15rem 3rem;
}

.icon__language {
  height: 1.3rem;
  width: 1.9rem;
  padding-right: 0.1rem;
}

.icon__footer {
  padding: 0 0.5rem 0 0.25rem;
  font-size: 0.9rem;
  color: #888;
}

.footer__sub-heading {
  font-size: 0.9em;
  margin-bottom: -0.7rem;
}

.restricted__expand {
  .form__restricted {
    font-size: 12px;
    font-weight: 500;
    padding-top: 0.5rem;
    width: 95%;

    input {
      margin: 0.3rem 0.5rem 0;
    }
  }

  .footer__description {
    margin-top: 0.75rem;
  }

  p {
    margin: 0;
  }

  .button__save {
    margin: 0 0 4rem 0;
  }
}

// MEDIA QUERIES

// smallest - 2 previews in row
@media screen and (max-width: 705px) {
  .preview:nth-child(5),
  .preview:nth-child(4),
  .preview:nth-child(3),
  .preview:nth-child(2) {
    display: none;
  }

  .navigation__main {
    justify-content: center;
  }

    .button__search {
      width: 2.5rem;
    }

    .button__upload,
    .logo-header {
      display: none;
    }

    .logo-mobile {
      display: flex;
    }

  .navigation__main-user {
    position: inherit;
    margin-top: 0;
  }

  .footer {
    overflow: scroll;
  }

  .footer__preferences,
  .footer-ul-medium,
  .footer-ul-small {
    margin: 0;
    padding: 0;
  }
}

// small - 3 previews in row
@media screen and (min-width: 705px) {
  .wrapper {
    width: 644px;
  }

  .logo-mobile {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .preview:nth-child(5),
  .preview:nth-child(4),
  .preview:nth-child(3) {
    display: none;
  }
}

// medium - 4 previews in row
@media screen and (min-width: 910px) {
  .wrapper {
    width: 850px;
  }
}

@media screen and (max-width: 1120px) {
  .preview:nth-child(5),
  .preview:nth-child(4) {
    display: none;
  }

  .input__search {
    width: 100%;
    max-width: 4.2rem;
    min-width: 242px;
  }
}

// large - 5 previews in row
@media screen and (min-width: 1120px) {
  .wrapper {
    width: 1056px;
  }
}

@media screen and (max-width: 1330px) {
  .preview:nth-child(5) {
    display: none;
  }
}

// large - 6 previews in row
@media screen and (min-width: 1330px) {
  .wrapper {
    width: 1255px;
  }
}

// EXTRAS

.clearfix:after {
   clear: both;
   content: "";
   display: table;
}
